.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas: 'header' 'content';
  min-height: 100vh;
}

.NavBar {
  background-color: rgba(152, 251, 152, 0.678);
}

.Header {
  background-color: rgba(211, 170, 66, 0.726);
}

.Home {
  background-color: rgba(218, 112, 214, 0.719);
}

.Review {
  background-color: rgba(218, 112, 214, 0.527);
}

ul {
  list-style: none;
}
