@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas: 'header' 'content';
  min-height: 100vh;
  color: #12130f;
  background-color: #666a86;
}

.NavBar {
  background-color: #d1dede;
  margin-left: 6em;
  margin-right: 6em;
  padding: 0.5em;
  border-radius: 10px;
}

.Header {
  background-color: #df9a57;
  margin: 1em;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.Home {
  background-color: #666a86;
}

.Review {
  background-color: #666a86;
}

.Box {
  background-color: #d1dede;
  border-radius: 10px;
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.fullReview {
  background-color: #d1dede;
  border-radius: 10px;
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

#categories-select {
  margin-right: 2em;
}

#sort-by-select {
  margin-left: 2em;
}

ul {
  list-style: none;
  padding-left: 0%;
}

#upVote {
  cursor: pointer;
}

.commentArea {
  background-color: #e4efef;
  padding: 1em;
  border-radius: 10px;
}

.username {
  font-weight: bold;
}

.loggedInArea {
  background-color: #f7b372;
  width: 20%;
  margin: auto;
  margin-bottom: 0.75em;
  padding: 0.25em;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'commentTitle commentBody submitBtn';
  margin: 1em;
  position: relative;
}
.commentTitle {
  grid-area: commentTitle;
}
.commentBody {
  grid-area: commentBody;
}
.submitBtn {
  grid-area: submitBtn;
  position: absolute;
  bottom: 0;
}

#textArea {
  width: 300px;
  height: 150px;
}
